

body{
	font-family: tahoma;
	font-size: 10px;
	background-color: #160600;
}
.divFileHeader{
	border: solid 1px #ddd;
	padding: 3px;
	margin-bottom: 10px;
}

.divBtn{
	display: inline-block;
	cursor: pointer;
	background-color: #bbb;
	padding: 10px;
	border-radius: 5px;
}
.btnText{
	display: inline-block;
	padding-left: 10px;
}
.divLabel {
	display: inline-block;
}
#btnHelp {
	margin-left: 10px;
}

.divRollBtn{
	display: inline-block;
	cursor: pointer;
	color: #222;
	background-color: #bbb;
	padding: 5px;
	border: solid 1px #222;
	border-radius: 5px;
	line-height: 20px;
}


.divRow {
	background-color: #C1A68F;
	padding: 5px;
	margin-bottom: 2px;
}
.divGroupStatA{
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: larger;
	vertical-align: middle;
	line-height: 32px;
}
.divGroupStatB{
	display: inline-block;
	padding-left: 10px;
	color: white;
	font-weight: normal;
	font-size: larger;
	vertical-align: middle;
	line-height: 32px;
}
.divRowHeader .divRowSubHeader .divRowDetail{
	height: 32px; 
}
.divRowSubHeader {
	background-color: #D1B69F;
}
.divFloatRight{
	float: right;
	margin-left: 10px;
}
.divRowDetail {
	padding-left: 10px;
	cursor: pointer;
}
.divRowDetailReg {
	background-color: #E0C1A8;
}
.divRowDetailAlt {
	background-color: #DDC8BA;
}
.divRowDetailSelected {
	background-color: #EEDDBB;
}

#divPopupHolder{
	position: relative;
}
.divPopup{
	position: fixed;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	width: 50%;
	height: 70%;
	background-color: white;
	border: solid black 2px;
	border-radius: 5px;	
}

.divRowDetailColA{
	display: inline-block;
	width: 25%;
	color: #666;
}
.divRowDetailColB{
	display: inline-block;
	width: 75%;
	color: #666;
}
.divSpanHostilePositionResult, .divSpanHostileActionResult{
	display: inline-block;
	margin-left: 20px;
	font-weight: bold;
	border: dashed 1px white;
	padding-left: 10px;
	padding-right: 10px;
}

#divHelpText{
	padding: 2px;
	color: white;
}
.divClause, .divClauseMore{
	color: #333;
	font-style: italic;
	padding-left: 10px;
}
.divClauseMore{
	padding-top:6px
}